.lineasuperior{
    height: 59px; 
    background-color: #eebb5c; 
    width: 100%; 
    position: absolute; 
    top: -8px;
    left: 0;
    z-index: 1000; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    color: white; 
}

.lineasuperiortexto{
    font-weight: 700;
}