@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');  /* Para el tipo de letra */
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playwrite+BE+VLG:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playwrite+BE+VLG:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playwrite+BE+VLG:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: "Outfit", sans-serif;
}
body{
    background: #ffffff;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}
.container{
    padding-left: 10%;
    padding-right: 10%;
}
.btn{
    background: #fda32c;
    color: #fff;
    padding: 17px 43px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    border: 0;
    outline: 0;
    font-family: "Inter Tight", sans-serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;  
}
.btn img{
    width: 20px;
    margin-left: 10px;
}
.btnpostre1{
    background: #59f173;
    border: 0;
    outline: 0;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 2px 4px;
    border-radius: 50%;
    margin-left: 14px;
    margin-top: 10px;
}
.btnpostre2{
    background: #d9db3f;
    border: 0;
    outline: 0;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 2px 4px;
    border-radius: 50%;
    margin-left: 14px;
    margin-top: 10px;
}
.btnpostre3{
    background: #e73636;
    border: 0;
    outline: 0;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 2px 4px;
    border-radius: 50%;
    margin-left: 14px;
    margin-top: 10px;
}
.btncarta{
    background: #ffffff;
    padding: 8px 30px 8px 0px;
    border-radius: 30px;
    cursor: pointer; 
    border: 0;
    outline: 0;
    font-family: "Inter Tight", sans-serif;
    font-weight: 700;  
}
.btnañadir{
    border-radius: 30px;
    padding: 5.5px 92px;
    font-weight: 800;
    align-items: center;
    justify-content: center;
}
/* ---------- media query ---------*/

@media (max-width: 1280px){
    .container{
        padding-left: 5%;
        padding-right: 5%;
    }
    .btn{
        padding: 17px 32px;
        font-size: 20px;
    }
}
@media (max-width: 1200px){
    .container{
        padding-left: 5%;
        padding-right: 5%;
    }
    .btn{
        padding: 14px 22px;
        font-size: 16px;
    }
}